/MediaPlayerDemo/bin
/MediaPlayerDemo/.classpath
/MediaPlayerDemo/proguard-project.txt
/MediaPlayerDemo/project.properties
/MediaPlayerDemo/gen
/MediaPlayerDemo/ic_launcher-web.png
/MediaPlayerDemo/.settings
/MediaPlayerDemo/project
/MediaPlayerDemo/out
/vitamio/bin
/vitamio/.classpath
/vitamio/proguard-project.txt
/vitamio/project.properties
/vitamio/gen
/vitamio/ic_launcher-web.png
/vitamio/.settings
/vitamio/project
